# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [6]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [7]:
baby_names = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Stats/US_Baby_Names/US_Baby_Names_right.csv')
baby_names.info()

HTTPError: HTTP Error 404: Not Found

### Step 4. See the first 10 entries

In [4]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [106]:
# deletes Unnamed: 0
del baby_names['Unnamed: 0']

# deletes Unnamed: 0
del baby_names['Id']

baby_names.head()

      Name  Year Gender State  Count
0     Emma  2004      F    AK     62
1  Madison  2004      F    AK     48
2   Hannah  2004      F    AK     46
3    Grace  2004      F    AK     44
4    Emily  2004      F    AK     41

### Step 6. Is there more male or female names in the dataset?

In [1]:
baby_names['Gender'].value_counts('F')

NameError: name 'baby_names' is not defined

### Step 7. Group the dataset by name and assign to names

In [116]:
# you don't want to sum the Year column, so you delete it
# del baby_names["Year"]

# group the data
names = baby_names.groupby("Name").sum()

# print the first 5 observations
names.head()

# print the size of the dataset
print names.shape

# sort it from the biggest value to the smallest one
names.sort_values("Count", ascending = 0).head()

(17632, 1)

           Count
Name
Jacob     242874
Emma      214852
Michael   214405
Ethan     209277
Isabella  204798

### Step 8. How many different names exist in the dataset?

In [89]:
# as we have already grouped by the name, all the names are unique already. 
# get the length of names
len(names)

17632

### Step 9. What is the name with most occurrences?

In [151]:
names.Count.idxmax()

# OR

# names[names.Count == names.Count.max()]

'Jacob'

### Step 10. How many different names have the least occurrences?

In [138]:
len(names[names.Count == names.Count.min()])

2578

### Step 11. What is the median name occurrence?

In [144]:
names[names.Count == names.Count.median()]

            Count
Name
Aishani        49
Alara          49
Alysse         49
Ameir          49
Anely          49
Antonina       49
Aveline        49
Aziah          49
Baily          49
Caleah         49
Carlota        49
Cristine       49
Dahlila        49
Darvin         49
Deante         49
Deserae        49
Devean         49
Elizah         49
Emmaly         49
Emmanuela      49
Envy           49
Esli           49
Fay            49
Gurshaan       49
Hareem         49
Iven           49
Jaice          49
Jaiyana        49
Jamiracle      49
Jelissa        49
...           ...
Kyndle         49
Kynsley        49
Leylanie       49
Maisha         49
Malillany      49
Mariann        49
Marquell       49
Maurilio       49
Mckynzie       49
Mehdi          49
Nabeel         49
Nalleli        49
Nassir         49
Nazier         49
Nishant        49
Rebecka        49
Reghan         49
Ridwan         49
Riot           49
Rubin          49
Ryatt          49
Sameera        49
Sanjuanita     49
Shalyn         49
Skylie         49
Sriram         49
Trinton        49
Vita           49
Yoni           49
Zuleima        49

[66 rows x 1 columns]

### Step 12. What is the standard deviation of names?

In [147]:
names.Count.std()

11006.069467891111

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [148]:
names.describe()

               Count
count   17632.000000
mean     2008.932169
std     11006.069468
min         5.000000
25%        11.000000
50%        49.000000
75%       337.000000
max    242874.000000