# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [22]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [23]:
url1 = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv"
url2 = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv"

cars1 = pd.read_csv(url1)
cars2 = pd.read_csv(url2)

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [24]:
#cars1.head(3)
#print(cars2.head(3))

cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [25]:
print(cars2.shape[0])
print(cars1.shape[0])

200
198

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [26]:
frames = [cars1, cars2]
cars = pd.concat(frames)

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [27]:
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners

array([63790, 29614, 48007, 61676, 36171, 72376, 37876, 46450, 58879,
       22424, 41192, 68133, 33174, 46126, 62867, 67486, 59799, 23675,
       36275, 17005, 70906, 36412, 30310, 51356, 69741, 66001, 48959,
       38198, 34535, 17957, 36770, 46352, 31149, 20547, 39312, 16050,
       54118, 48874, 72085, 52366, 34059, 65837, 42494, 48025, 69525,
       19854, 26951, 52251, 22050, 67919, 32152, 31980, 15259, 35503,
       25300, 15837, 49846, 16695, 71010, 58217, 35280, 50514, 67522,
       19849, 64596, 64572, 65645, 35751, 21779, 50554, 65871, 27524,
       26397, 56695, 32305, 17085, 27637, 50188, 34172, 26682, 57455,
       62799, 54045, 40918, 45992, 31332, 25676, 17965, 67897, 50292,
       37682, 43017, 62487, 60794, 66069, 68175, 24627, 37166, 26898,
       66115, 61559, 72147, 45053, 22182, 42470, 16077, 46250, 59977,
       36211, 21702, 52993, 43086, 57811, 30558, 32769, 58586, 71601,
       56109, 19797, 69510, 28759, 16058, 68758, 21119, 66281, 58514,
       68336, 43240, 18030, 68132, 69170, 31188, 43694, 47421, 58225,
       62257, 41961, 66689, 65459, 30051, 36829, 33071, 45679, 31149,
       49716, 41592, 66209, 42325, 59050, 41753, 60173, 43045, 30181,
       15620, 19078, 58832, 26798, 16895, 63929, 32834, 54066, 67018,
       19535, 37938, 59538, 56842, 64671, 40158, 58886, 43938, 41441,
       21623, 61780, 25528, 37314, 16605, 29100, 70570, 50294, 38827,
       21661, 41142, 45661, 25201, 58398, 35599, 34608, 44931, 29041,
       68686, 63346, 26918, 34323, 44978, 31035, 18863, 60464, 39989,
       59314, 50927, 24914, 48623, 21224, 39659, 31992, 61481, 65917,
       69843, 31743, 20311, 27385, 65277, 16709, 30066, 25482, 37417,
       21724, 56946, 33363, 24656, 53297, 53983, 52358, 32562, 50523,
       67373, 28789, 37689, 37012, 26280, 26565, 47137, 50946, 17219,
       21935, 44495, 63233, 25759, 38120, 22565, 59778, 25779, 43530,
       71873, 66149, 22229, 20365, 58513, 17964, 17328, 30909, 28761,
       18188, 17387, 39567, 35545, 63779, 63776, 68430, 48391, 41820,
       56485, 46472, 53772, 19102, 21962, 36699, 32343, 18427, 57526,
       68398, 68943, 47779, 33165, 35719, 58877, 49234, 25031, 52520,
       38932, 64062, 72082, 61491, 28031, 57554, 26561, 39726, 18635,
       35283, 69663, 28087, 31869, 49481, 18593, 32245, 56843, 22969,
       47754, 35988, 23660, 54222, 33246, 33239, 55622, 45779, 23780,
       44489, 44739, 57803, 29975, 30477, 18941, 56525, 47954, 52240,
       33235, 27558, 41327, 60995, 56370, 58180, 51606, 67069, 37298,
       48896, 59753, 56291, 66871, 47490, 49441, 66352, 45378, 60792,
       63278, 50495, 58607, 51388, 47758, 68555, 71445, 60913, 40016,
       71353, 67086, 37627, 58742, 50609, 41935, 51637, 49437, 17487,
       37916, 49356, 58802, 37056, 19744, 55949, 64232, 47654, 39883,
       24729, 34693, 52139, 40907, 42392, 27924, 35979, 58990, 33289,
       29548, 19925, 70420, 69258, 40972, 68984, 54553, 70932, 37760,
       68334, 46986, 22466, 62665, 27062, 16457, 47644, 34095, 51945,
       35644, 56641, 36809, 69061, 44104, 52167, 44714, 52578, 17050,
       53626, 51726])

### Step 8. Add the column owners to cars

In [28]:
cars['owners'] = nr_owners
cars.tail(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,44714
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,52578
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,17050
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,53626
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,51726