In [7]:
# Submission File Format
# You should submit a csv file with exactly 418 entries plus a header row. Your submission will show an error if you have extra columns (beyond PassengerId and Survived) or rows.
# 
# The file should have exactly 2 columns:
# PassengerId (sorted in any order)
# Survived (contains your binary predictions: 1 for survived, 0 for deceased)

# Set up Environment

In [8]:
import pandas as pd
import numpy as np

import sklearn
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier

# Clean Up Data

In [13]:
train_kaggle = pd.read_csv("train.csv")
test_kaggle = pd.read_csv("test.csv")

# Checking it out
# print(train.head())
# print(train.columns)
# train.info()

# The Cleaning Checklist
# 1) Dropping unneccessary columns
to_drop = ['Name','Ticket','Cabin','Parch', 'SibSp']
train_kaggle.drop(to_drop, inplace=True, axis=1)
test_kaggle.drop(to_drop, inplace=True, axis=1)

# print(train.head())

# 2) Changing the index of the dataframes - is fine
# 3) Using .str method to clean columns
# 4) Using the DataFrame.applymap() function to clean the entire dataset, element-wise
# 5) Renaming columns to a more recognizable set of labels - fine
# 6) Skipping unnecessary rows in a CSV file - fine

# Convert Columns to categories
train_kaggle["Sex"] = train_kaggle["Sex"].astype("category").cat.codes
train_kaggle["Embarked"] = train_kaggle["Embarked"].astype("category").cat.codes

# Func: clean_nan
# Purpose: find NaN and use the average value to fill in
# def clean_nan(column):
# values = {'PassengerId':0,'Pclass':2, 'Sex':0, 
#           'Age':train_kaggle['Age'].mean, 'Fare':train_kaggle['Fare'].mean,
#          'Embarked':1}
# only the age has NaN
average_age = np.round(train_kaggle["Age"].mean())
print(average_age)
train_kaggle.fillna(value= average_age)
    
    

# Print data set 
train_kaggle.info()

30.0

     PassengerId  Survived  Pclass  Sex   Age      Fare  Embarked
0              1         0       3    1  22.0    7.2500         2
1              2         1       1    0  38.0   71.2833         0
2              3         1       3    0  26.0    7.9250         2
3              4         1       1    0  35.0   53.1000         2
4              5         0       3    1  35.0    8.0500         2
5              6         0       3    1  30.0    8.4583         1
6              7         0       1    1  54.0   51.8625         2
7              8         0       3    1   2.0   21.0750         2
8              9         1       3    0  27.0   11.1333         2
9             10         1       2    0  14.0   30.0708         0
10            11         1       3    0   4.0   16.7000         2
11            12         1       1    0  58.0   26.5500         2
12            13         0       3    1  20.0    8.0500         2
13            14         0       3    1  39.0   31.2750         2
14            15         0       3    0  14.0    7.8542         2
15            16         1       2    0  55.0   16.0000         2
16            17         0       3    1   2.0   29.1250         1
17            18         1       2    1  30.0   13.0000         2
18            19         0       3    0  31.0   18.0000         2
19            20         1       3    0  30.0    7.2250         0
20            21         0       2    1  35.0   26.0000         2
21            22         1       2    1  34.0   13.0000         2
22            23         1       3    0  15.0    8.0292         1
23            24         1       1    1  28.0   35.5000         2
24            25         0       3    0   8.0   21.0750         2
25            26         1       3    0  38.0   31.3875         2
26            27         0       3    1  30.0    7.2250         0
27            28         0       1    1  19.0  263.0000         2
28            29         1       3    0  30.0    7.8792         1
29            30         0       3    1  30.0    7.8958         2
..           ...       ...     ...  ...   ...       ...       ...
861          862         0       2    1  21.0   11.5000         2
862          863         1       1    0  48.0   25.9292         2
863          864         0       3    0  30.0   69.5500         2
864          865         0       2    1  24.0   13.0000         2
865          866         1       2    0  42.0   13.0000         2
866          867         1       2    0  27.0   13.8583         0
867          868         0       1    1  31.0   50.4958         2
868          869         0       3    1  30.0    9.5000         2
869          870         1       3    1   4.0   11.1333         2
870          871         0       3    1  26.0    7.8958         2
871          872         1       1    0  47.0   52.5542         2
872          873         0       1    1  33.0    5.0000         2
873          874         0       3    1  47.0    9.0000         2
874          875         1       2    0  28.0   24.0000         0
875          876         1       3    0  15.0    7.2250         0
876          877         0       3    1  20.0    9.8458         2
877          878         0       3    1  19.0    7.8958         2
878          879         0       3    1  30.0    7.8958         2
879          880         1       1    0  56.0   83.1583         0
880          881         1       2    0  25.0   26.0000         2
881          882         0       3    1  33.0    7.8958         2
882          883         0       3    0  22.0   10.5167         2
883          884         0       2    1  28.0   10.5000         2
884          885         0       3    1  25.0    7.0500         2
885          886         0       3    0  39.0   29.1250         1
886          887         0       2    1  27.0   13.0000         2
887          888         1       1    0  19.0   30.0000         2
888          889         0       3    0  30.0   23.4500         2
889          890         1       1    1  26.0   30.0000         0
890          891         0       3    1  32.0    7.7500         1

[891 rows x 7 columns]

# What are we using as our indicator?

In [14]:
# Split training set into train & test
train, test = train_test_split(train_kaggle, test_size = 0.2)

# train sets
train_x = train.drop('Survived', 1)
train_y = train['Survived']

# test sets
test_x = test.drop('Survived', 1)
test_y = test['Survived']

# Model/Train/Predict

In [15]:
# model
tree = DecisionTreeClassifier(criterion = "entropy")

# train
tree.fit(train_x, train_y)

# predict
tree_predictions = tree.predict(test_x)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').